* {
    box-sizing: border-box;

}



.container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: -8px;
}



body {
    position: relative;
    width: 1440px;
    height: 2592px;
    background: #FFFFFF;

    /* Body Medium */

  /*  font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;



}

.h1 > title {

   
  /* font-weight: bold; */
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;

}

.h2 > title {

    /* font-family: 'Roboto'; */
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;

}

.nav {
    box-sizing: border-box;

    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;

    /* WHITE
    
    Header background, team card background
    */
    background: #FFFFFF;
    /* CORNFLOWER */

    border-bottom: 1px solid #E7E9FC;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 27px;
    text-decoration: none;

/*    font-family: 'Raleway';  */
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.logo1 {
    /* IRIS */

    color: #4D5AE5;

}

.logo2 {

    /* NAVY BLUE */

    color: #2E2F42;

}




.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    list-style: none;
    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 12px;
    text-decoration: none;

}

.menu-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    list-style: none;
    position: absolute;
    width: 350px;
    height: 24px;
    left: 900px;
    top: 12px;
    text-decoration: none;

}

.menu .link {
    display: block;
    padding: 0px;
    border-radius: 4px;
    text-decoration: none;

    background-color: #fff;
    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;
}


.email {
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;

  /*  font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    text-decoration-line: underline;

    /* SLATE */

    color: #434455;
}

.contact {
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;

    /* Body */

  /*  font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* SLATE */

    color: #434455;
}

.hero {

    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;


    /* NAVY BLUE */

    background: #2E2F42;

}



.header-title {

    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 180px;

    /* Header 1 */

 /*   font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    /* or 107% */

    text-align: center;
    

    /* WHITE */

    
    color: #FFFFFF;
}



.button {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;

    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;

    /* IRIS */

    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

   /* BUTTON TEXT */
    justify-content: center;
    color: #FFFFFF;

}


.section {

    position: absolute;
    width: 1128px;
    height: 104px;
    left: 156px;
    top: 792px;
}


.benefits {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
}

.benefits-item {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 4 - 20px);
}



.section_title {
 /*   font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;


    color: #2E2F42;
}

.what-we-do {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
}

.what-we-do-item {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 6 - 20px);
}

.what-we-do-item:nth-child(1) img {
    object-fit: fill;

}

.what-we-do-item:nth-child(2) img {
    object-fit: fill;
}

.what-we-do-item:nth-child(3) img {
    object-fit: fill;
}


.section3 {

    position: absolute;
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1548px;

}

.team_title {
  /*  font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /* identical to box height, or 111% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;


    color: #2E2F42;
}

.section3_container {

    padding: 24px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.team-item>.team-name,
.base>.team-name {
    padding: 10px;
    font-size: 20px;
    
}

.team-item>.team-name {
  /*  font-family: Roboto; */
    font-weight: 700;
    letter-spacing: -0.05em;
    
}

.team-item>.team-position,
.base>.team-position {
    padding: 0px;
    font-size: 14px;
}

.team-item>.team-position {
 /*   font-family: 'Roboto'; */
    letter-spacing: -0.05em;
}

.team {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
}

.team-item {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 4 - 20px);
    
}

.team-item,
.base {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.team-item:nth-child(1) img {
    object-fit: fill;

}

.team-item:nth-child(2) img {
    object-fit: fill;
}

.team-item:nth-child(3) img {
    object-fit: fill;
}

.team-item:nth-child(4) img {
    object-fit: fill;
}

.circle {

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* IRIS */

    background: #4D5AE5;
}


.footer {

    position: absolute;
    width: 1440px;
    height: 312px;
    left: 0px;
    top: 2220px;

    /* NAVY BLUE */

    background: #2E2F42;

}

.footer_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    text-decoration: none;


}

.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 100px;
    text-decoration: none;


/*   font-family: 'Raleway'; */
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logofooter1 {
    /* IRIS */

    color: #4D5AE5;

}

.logofooter2 {

    /* NAVY BLUE */

    color: #ffffff;

}

.footer-content {

    position: absolute;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 130px;

    color: white;
}