:root {

    --ct-body-font-family: Roboto;
    --ct-body-font-size: 16px;
    --ct-body-font-weight: 500;
    --ct-body-line-height: 1.5;
    --ct-body-color: #2E2F42;
    --ct-body-bg:#FFFFFF;
    --ct-link-color: #0d6efd;
    --ct-link-hover-color: #7ffbff;
    --ct-menu-link-color: #ffa500;


}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {

    margin: 0;
    font-family: var(--ct-body-font-family);
    font-size:  var(--ct-body-font-size);
    font-weight: var(--ct-body-font-weight);
    line-height: var(--ct-body-line-height);
    color: var(--ct-body-color);
    background-color: var(--ct-body-bg);

}

p {
    color: #000000;
    margin-top: 0;
    margin-bottom: 1rem;
}


h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 56px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: -8px;
}

.nav {
  
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: var(--ct-body-bg);
    border-bottom: 1px solid #E7E9FC;
}

.menu .link {
    color: inherit;
}

.menu .link:hover,
.menu .link:active {
    color: var(--ct-menu-link-color);
}

.menu-right .link {
    color: inherit;
}

.menu-right .link:hover,
.menu-right .link:active {
    color: var(--ct-menu-link-color);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 27px;
    text-decoration: none;

    /*    font-family: 'Raleway';  */
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.logo1 {
    /* IRIS */

    color: #4D5AE5;

}

.logo2 {

    /* NAVY BLUE */

    color: #ffffff;

}

/* Button Cursor Pointer */

.pointer {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    list-style: none;
    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 12px;
    text-decoration: none;

}

.menu-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    list-style: none;
    position: absolute;
    width: 350px;
    height: 24px;
    left: 900px;
    top: 12px;
    text-decoration: none;

}

.menu .link {
    display: block;
    padding: 0px;
    border-radius: 4px;
    text-decoration: none;

    background-color: #fff;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.email {
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;

    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #434455;
}

.contact {
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;

    letter-spacing: 0.02em;
    color: #434455;

}

.hero {

    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;

    background: #2E2F42;

}

.header-title {

    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 180px;

    text-align: center;
    color: #FFFFFF;
  
}



.button {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;

    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;

    /* IRIS */

    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    /* BUTTON TEXT */
    justify-content: center;
    color: #FFFFFF;

}


/*** Portfolio ***/

.portfolio-menu {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 586px;
    height: 48px;
    left: 427px;
    top: 168px;
    text-decoration: none;
    list-style: none;
    justify-content: center;


    justify-content: center;
    color: #FFFFFF;



}

.portfolio-menu .link {
    display: block;
    padding: 0px;
    border-radius: 4px;
    text-decoration: none;


    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;
}


.button-all {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;

    width: 69px;
    height: 48px;

    /* OCEAN */

    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    /* IRIS */






}

.button-website {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    width: 116px;
    height: 48px;

    /* CLOUD */

    background: #F4F4FD;
    /* CORNFLOWER */

    border: 1px solid #E7E9FC;
    border-radius: 4px;

    color: #4D5AE5;
}


.button-app {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    width: 78px;
    height: 48px;

    /* CLOUD */

    background: #F4F4FD;
    /* CORNFLOWER */

    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.button-design {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    width: 101px;
    height: 48px;

    /* CLOUD */

    background: #F4F4FD;
    /* CORNFLOWER */

    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.button-marketing {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    width: 126px;
    height: 48px;

    /* CLOUD */

    background: #F4F4FD;
    /* CORNFLOWER */

    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.section {

    position: absolute;
    width: 1128px;
    height: 104px;
    left: 156px;
    top: 792px;

}


.benefits {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
}

.benefits-item {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 4 - 20px);
}



.section_title {
    /*   font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;


    color: #2E2F42;
}

.what-we-do {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
}

.what-we-do-item {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 6 - 20px);
}

.what-we-do-item:nth-child(1) img {
    object-fit: fill;

}

.what-we-do-item:nth-child(2) img {
    object-fit: fill;
}

.what-we-do-item:nth-child(3) img {
    object-fit: fill;
}




.team_title {
    /*  font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /* identical to box height, or 111% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;


    color: #2E2F42;
}

.section3_container {

    padding: 24px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.team-item>.team-name,
.base>.team-name {
    padding: 10px;
    font-size: 20px;

}

.team-item>.team-name {
    /*  font-family: Roboto; */
    font-weight: 700;
    letter-spacing: -0.05em;

}

.team-item>.team-position,
.base>.team-position {
    padding: 0px;
    font-size: 14px;
}

.team-item>.team-position {
    /*   font-family: 'Roboto'; */
    letter-spacing: -0.05em;
}

.team {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
}

.team-item {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 4 - 20px);

}

.team-item,
.base {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.team-item:nth-child(1) img {
    object-fit: fill;

}

.team-item:nth-child(2) img {
    object-fit: fill;
}

.team-item:nth-child(3) img {
    object-fit: fill;
}

.team-item:nth-child(4) img {
    object-fit: fill;
}

.team-item:nth-child(5) img {
    object-fit: fill;
}

.team-item:nth-child(6) img {
    object-fit: fill;
}

.team-item:nth-child(7) img {
    object-fit: fill;
}

.team-item:nth-child(8) img {
    object-fit: fill;
}

.team-item:nth-child(9) img {
    object-fit: fill;
}

.circle {

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* IRIS */

    background: #4D5AE5;
}

.portfolio-item>.portfolio-name,
.base>.portfolio-name {
    padding: 10px;
    font-size: 20px;

}

.portfolio-item>.portfolio-name {
    /*  font-family: Roboto; */
    font-weight: 700;
    letter-spacing: -0.05em;

}

.portfolio-item>.portfolio-type,
.base>.portfolio-type {
    padding: 0px;
    font-size: 14px;
}

.portfolio-item>.portfolio-type {
    /*   font-family: 'Roboto'; */
    letter-spacing: -0.05em;
}



.portfolio {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;


}

.portfolio-item {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 3 - 20px);

}

.portfolio-item,
.base {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.portfolio-item:nth-child(1) img {
    object-fit: fill;

}

.portfolio-item:nth-child(2) img {
    object-fit: fill;
}

.portfolio-item:nth-child(3) img {
    object-fit: fill;
}

.portfolio-item:nth-child(4) img {
    object-fit: fill;
}


.footer {

    position: absolute;
    width: 1440px;
    height: 312px;
    left: 0px;
    top: 2220px;

    /* NAVY BLUE */

    background: #2E2F42;

}

.footer_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    text-decoration: none;


}

.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 100px;
    text-decoration: none;


    /*   font-family: 'Raleway'; */
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-content {

    position: absolute;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 130px;

    color: white;
}